*{
  margin:0;
  padding:0;
}

.header{
  
  background-color: #000;
  height: 60px;
  width: 100%;
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
} 

.tbox{
  display:inline-block;
  position:fixed;
  text-align: center;
  left: 32%;
  top:20%;
}
h1{
  margin-bottom: 7%;
  color: #fff;
}
p{
  color: rgb(193, 220, 243);
  left: 50%;
  font-size: 20px;
}

a{
  display: inline-block;
}

.title{
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

.ripples {
  background:url("blueee.jpg") center no-repeat;
  background-size: cover;
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

/* .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}   */
