*{
  margin:0;
  padding:0;
}

.header{
  
  background-color: #000;
  height: 60px;
  width: 100%;
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
} 

.tbox{
  text-align: center;
  display:block;
  position:fixed;
  right:1%;
  bottom:0;
  top:25%;
  left:1%;
}
h1{
  margin-bottom: 7%;
  color: #fff;
}
p{
  color: rgb(193, 220, 243);
  left: 50%;
  font-size: 20px;
}

a{
  display: inline-block;
}

.title{
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
.ripples {
	background:url("blue5.png") center no-repeat;
	background-size:cover;
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.btn{
  height: 30px;
  width: 50px;
  background: #fff;
  outline: none;
}

.kingyo1{
  position: absolute;
  top: 70%;
  left: 20%;
}

.kingyo11{
  position: absolute;
  top: 10%;
  right: 20%;
  transform:rotate(180deg);  
}

.kingyo2{
  position: absolute;
  top: 60%;
  right: 15%;
}
.kingyo22{
  position: absolute;
  top: 42%;
  left: 14%;
  transform:rotate(240deg);  
}

.kingyo3{
  position: absolute;
  top: 18%;
  right: 24%;
}
.kingyo33{
  position: absolute;
  top: 48%;
  right: 6%;
  transform:rotate(160deg);  
}
.kingyo32{
  position: absolute;
  top: 68%;
  left: 4%;
  transform:rotate(100deg);  
}

.kingyo4{
  position: absolute;
  top: 38%;
  left: 16%;
}

.kingyo5{
  position: absolute;
  top: 38%;
  right: 16%;
  transform:rotate(-80deg);  
}

.kingyo6{
  position: absolute;
  top: 88%;
  left: 30%;
}

.kingyo62{
  position: absolute;
  top: 88%;
  right: 20%;
  transform:rotate(-80deg);  
}
.kingyo63{
  position: absolute;
  top: 8%;
  left: 8%;
  transform:rotate(100deg);  
}
